<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City</title>
  <div class="card-body px-0 pb-0">
    <div class="table-responsive">
      <table class='table mb-0' id="table1">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>City</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Graiden</td>
          <td>vehicula.aliquet@semconsequat.co.uk</td>
          <td>076 4820 8838</td>
          <td>Offenburg</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Dale</td>
          <td>fringilla.euismod.enim@quam.ca</td>
          <td>0500 527693</td>
          <td>New Quay</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Nathaniel</td>
          <td>mi.Duis@diam.edu</td>
          <td>(012165) 76278</td>
          <td>Grumo Appula</td>
          <td>
            <span class="badge bg-danger">Inactive</span>
          </td>
        </tr>
        <tr>
          <td>Darius</td>
          <td>velit@nec.com</td>
          <td>0309 690 7871</td>
          <td>Ways</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Ganteng</td>
          <td>velit@nec.com</td>
          <td>0309 690 7871</td>
          <td>Ways</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Oleg</td>
          <td>rhoncus.id@Aliquamauctorvelit.net</td>
          <td>0500 441046</td>
          <td>Rossignol</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Kermit</td>
          <td>diam.Sed.diam@anteVivamusnon.org</td>
          <td>(01653) 27844</td>
          <td>Patna</td>
          <td>
            <span class="badge bg-success">Active</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</head>
<body>

</body>
</html>