<script src="script/pharmacie.js" type="text/javascript"></script>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<div class="m-4">
    <div class="card-header card-color">
        <p class="h2 text-center text-uppercase font-weight-bold pt-2">Gestion des pharmacies</p>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-bs-toggle="tab">Accepté</a>
                </li>
                <li class="nav-item">
                    <a href="#profile" class="nav-link" data-bs-toggle="tab">En attente</a>
                </li>
                <li class="nav-item">
                    <a href="#messages" class="nav-link" data-bs-toggle="tab">Refusée</a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="padding: 0">
            <div class="tab-content">

                <div class="tab-pane fade show active" id="home">
                    <div class="container-fluid" style="padding: 0">
                        <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Impossible de supprimer cette pharmacie</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-white">

                            <div class="card-body container-fluid">
                                <div class="row table-responsive m-auto rounded">
                                    <table id="tpharmacie" class="table table-hover w-100">
                                        <thead>
                                        <tr class="text-uppercase bg-light  w-100">
                                            <th scope="col">Id</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Latitude</th>
                                            <th scope="col">Longitude</th>
                                            <th scope="col">Zone</th>
                                            <th scope="col">Etat</th>
                                            <th scope="col">Supprimer</th>
                                            <th scope="col">Modifier</th>
                                        </tr>

                                        </tr>
                                        </thead>
                                        <tbody id="table-content">

                                        </tbody>
                                    </table>

                                </div>

                                <!-- Modal -->
                                <div class="modal " id="location" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog " style="margin: 0" >
                                        <div class="modal-content" style="width: 100vw ;height: 100vh">

                                            <div class="modal-body">
                                                <div id="map">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id=closeF" onclick="<script></>">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade modal-dialog-scrollable"  id="historique" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul id="historiquelist">

                                                </ul>

                                            </div>
                                            <div class="modal-footer">
                                                <button id="histo" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile">
                    <div class="card bg-white">

                        <!-- -->
                        <div class="modal fade" id="acc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p> Voulez vous vraiment accepter cette pharmacie</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary hide" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="saveAcc">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="modal fade" id="refu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p> Voulez vous vraiment refuser cette pharmacie</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary hide" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" id="saveRefu">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row table-responsive m-auto rounded">
                                <table id="tpharmacieAtt" class="table table-hover w-100">
                                    <thead>
                                    <tr class="text-uppercase bg-light  w-100">
                                        <th scope="col">Id</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Latitude</th>
                                        <th scope="col">Longitude</th>
                                        <th scope="col">Zone</th>
                                        <th scope="col">Etat</th>
                                        <th scope="col">Supprimer</th>
                                        <th scope="col">Modifier</th>
                                    </tr>

                                    </tr>
                                    </thead>
                                    <tbody id="table-contentAtt">

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="card bg-white">

                        <div class="card-body container-fluid">
                            <div class="row table-responsive m-auto rounded">
                                <table id="tpharmacieRff" class="table table-hover w-100">
                                    <thead>
                                    <tr class="text-uppercase bg-light  w-100">
                                        <th scope="col">Id</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Latitude</th>
                                        <th scope="col">Longitude</th>
                                        <th scope="col">Zone</th>
                                        <th scope="col">Etat</th>

                                    </tr>

                                    </tr>
                                    </thead>
                                    <tbody id="table-contentRff">

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>